@import "../../styles/colors";

.input {
  display: flex;
  flex-direction: column;
  gap: 4px;

  label {
    color: $neutral400;
  }

  input {
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    border: 1px solid $neutral400;
    color: $indigo50;
    outline: none;
  }
}

.input__error {
  label,
  span {
    color: $rose600;
  }

  input {
    border: 1px solid $rose600;
  }
}
