@import "../../styles/colors";

.container__home {
  flex: 1;
  padding-inline: 64px;
  padding-block: 32px;
  overflow: auto;

  header {
    margin-bottom: 24px;

    h1 {
      color: $neutral600;
      font-size: 16px;
    }
  }

  ul {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
}