@import "../../styles/colors";

.container__home {
  flex: 1;
  padding-inline: 56px;
  padding-block: 20px;
  overflow: auto;

  h1 {
    color: $neutral600;
    font-size: 16px;
    padding-block: 16px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    > div {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
