@import "../../styles/colors";

.container__favorites {
  flex: 1;
  padding-inline: 56px;
  padding-block: 20px;
  overflow: auto;

  header {
    margin-bottom: 24px;

    h1 {
      color: $indigo50;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
