@import "../../styles/colors";

.sidebar {
  width: 16%;
  display: flex;
  gap: 8px;
  flex-direction: column;
  background-color: $neutral950;
  height: 100%;
  padding-block: 24px;
  padding-inline: 16px;

  h1 {
    margin-bottom: 16px;
    color: $indigo50;
  }

  input {
    width: 100%;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid $neutral600;

    ul li {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px;
      color: $indigo50;

      a {
        width: 100%;
        color: $indigo50;
        padding: 8px;
        border-radius: 8px;

        &.active {
          background-color: $neutral900;
        }
      }
    }
  }

  section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;

    h1 {
      color: $neutral400;
      margin-bottom: 16px;
      font-size: 16px;
    }

    span {
      color: $neutral400;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  > div {
    display: flex;
    align-items: center;
    gap: 8px;

    div {
      width: 50px;
      height: 50px;
      background-color: $indigo600;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span {
      color: $neutral400;
    }
  }
}

.create__list__form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .wrapper__buttons {
    display: flex;
    gap: 16px;

    button {
      flex: 1;
    }
  }
}
